.accordionGroup {
  /* Overrding MUI settings */
  .css-1elwnq4-MuiPaper-root-MuiAccordion-root {
    background: none;
  }
  .css-1elwnq4-MuiPaper-root-MuiAccordion-root.Mui-expanded {
    margin: 0;
  }

  .accordion {
    &__title {
      h4 {
        margin: 0;
      }
    }

    &__details {
      small {
      }
    }
  }
}
