.contactBlock {
  background-color: var(--white);
  box-shadow: var(--img-box-shadow);
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin: 0 calc(var(--default-margin) / 2);
  padding: var(--default-padding);
  border-radius: var(--default-border-radius);

  &:first-of-type {
    margin-left: 0;
  }

  &:last-of-type {
    margin-right: 0;
  }

  &__icon {
    color: var(--primary-blue);
    font-size: 38px;
    height: 75px;
    width: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__texts {
    display: flex;
    flex-direction: column;
    text-align: left;

    > h4 {
      margin: 0;
    }

    > small {
      margin-top: 5px;
    }
  }
}
