.langSelector {
  padding-top: var(--footer-elt-pad);
  padding-bottom: var(--footer-elt-pad);
  display: flex;

  > i {
    margin-right: 5px;
  }
}

@media (min-width: 768px) {
  .langSelector {
    font-size: var(--fs-h6);
  }
}
