footer {
  color: var(--white);
  background: var(--dark-gradient);
  padding: 5rem var(--default-margin) 3rem var(--default-margin);

  --footer-elt-pad: 25px;

  .footer {
    &__socials {
      padding-bottom: 40px;
      border-bottom: 1px solid var(--secondary-blue);
      h4 {
        margin: 0;
      }

      ul {
        display: flex;
        padding-left: 0;
        margin: 0;
        margin-top: 1rem;

        li {
          list-style: none;
          margin-right: 30px;

          a {
            font-size: 30px;
            color: var(--white);
          }
        }
      }
    }

    &__contact {
      display: flex;
      flex-direction: column;
      padding: 5rem 0;

      > .footer__contactDetails {
        display: flex;
        flex-direction: column;
        align-items: center;

        &:first-of-type {
          margin-bottom: 40px;
        }

        > i {
          font-size: 38px;
          border: solid var(--white) 3px;
          border-radius: 100px;
          padding: 15px;
        }

        > h4 {
          margin-top: 15px;
          margin-bottom: 15px;
        }

        // Phone number & mail
        > a {
          display: none;
          color: var(--white);
        }
      }
    }

    &__support {
      color: var(--white);

      > ul {
        margin: 0;
        padding: 0;

        > li {
          border-top: solid 1px var(--secondary-blue);
          list-style: none;

          > .footer__langSelector {
            padding-top: var(--footer-elt-pad);
            padding-bottom: var(--footer-elt-pad);
            display: flex;

            > i {
              margin-right: 5px;
            }
          }

          > a {
            color: var(--white);

            > h3 {
              margin: 0;
              padding-top: var(--footer-elt-pad);
              padding-bottom: var(--footer-elt-pad);
            }
          }
        }
      }
    }

    &__bottom {
      &Payments {
        margin-top: calc(70px - var(--footer-elt-pad));
        margin-bottom: 70px;

        > img {
          margin-right: 40px;
        }
      }
    }
  }
}
