* {
  --white: #ffffff;
  --light-blue: #e8f0fa;
  --secondary-blue: #549ee8;
  --primary-blue: #145cb0;
  --dark-blue: #161b33;
  --black: #000000;
  --secondary-orange: #b0531c;
  --primary-orange: #fc7f35;

  --dark-gradient: linear-gradient(89.59deg, #052b57 2.84%, #161b33 99.66%);
  --primary-gradient: linear-gradient(92.77deg, #003d85 -4.91%, #248dff 78.57%, #007af3 103.39%);

  --drop-box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25), -4px -4px 8px #ffffff;
  --hover-box-shadow: -4px -4px 8px rgba(0, 0, 0, 0.25), 4px 4px 8px #ffffff;
  --clicked-box-shadow: inset -4px -4px 8px rgba(0, 0, 0, 0.25),
    inset 4px 4px 8px rgba(255, 255, 255, 0.25);
  --img-box-shadow: 0px -6px 20px #ffffff, 0px 6px 20px rgba(20, 92, 176, 0.25);
  --text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  --fs-h1: 55px;
  --fs-h2: 40px;
  --fs-h3: 32px;
  --fs-h4: 24px;
  --fs-p: 18px;
  --fs-sm: 17px;

  --default-margin: 20px;
  --default-padding: 10px;
  --default-border-radius: 10px;
  --navbar-height: 74px;
}
